@import './normalize.css';
body {
  font-family: Roboto, Verdana, Tahoma, Geneva, sans-serif;
}

.game-title {
  margin: 0 auto;
  text-align: center;
  font-size: 80px;
}

.score-container {
  display: flex;
  gap: 20px;
  width: 500px;
  margin: 0 auto;
  justify-content: center;
}

.score, .best-score {
  position: relative;
  display: block;
  background: #bbada0;
  padding: 0 10px;
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}

.board {
  width: 500px;
  margin: 15px auto;
  padding: 5px;
  background-color: #bbada0;
  position: relative;
  cursor: grab;
  user-select: none;
}

.board__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
  user-select: none;
}

.board__cell {
  width: 94px;
  height: 94px;
  text-align: center;
  background-color: rgba(238, 228, 218, 0.35);
  border-radius: 3px;
  user-select: none;
}

.board__number_new {
  animation: appear 200ms ease 100ms;
  animation-fill-mode: backwards;
}

.board__number {
  width: 94px;
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #eee4da;
  box-shadow: 0 0 30px 10px rgb(243 215 116 / 0%), inset 0 0 0 1px rgb(255 255 255 / 0%);
  font-weight: bold;
  font-size: 35px;
  transition: all 0.1s ease-in;
  user-select: none;
}

.popup {
  position: fixed;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  top: 50%;
  flex-wrap: wrap;
  background-color: #ffffff;
  text-align: center;
  color: #000;
  width: calc(100% - 20px);
  margin: 0 auto;
  max-width: 400px;
  max-height: 100%;
  height: auto;
  transition: all 0.2s ease 0.1s;
  overflow-y: auto;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29292999;
  transition: all 0.2s ease 0.1s;
}

.popup-header {
  display: flex;
  justify-content: flex-end;
}

.popup-body {
  height: 100%;
}

.popup-title {
  padding: 20px 0;
}

.popup-warn {
  padding: 20px 0;
}

.popup-animated {
  animation: appearPopup 200ms ease 100ms;
  animation-fill-mode: backwards;
}

.popup-animate-out {
  animation: appearPopup 200ms ease 100ms;
  animation-direction: reverse;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.btn:disabled {
  background-color: red;
}

.game-btns-container {
  display: flex;
  width: 500px;
  justify-content: space-between;
  gap: 10px;
  margin: 10px auto;
}

.btn {
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 10px;
  text-decoration: none;
  color: #f9f6f2;
  line-height: 30px;
  cursor: pointer;
  display: block;
  text-align: center;
  flex-shrink: 0;
}

.back-btn_active {
  background-color: green;
}

.back-btn_inactive {
  background-color: red;
}

.time {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.results-container {
  display: flex;
  width: 500px;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}

.popup-btn {
  margin: 10px auto;
}

.popup-close-btn {
  width: 52px;
  height: 52px;
  font: 700 20px/0px Verdana;
  background: none;
  color: #000000;
  cursor: pointer;
}

.table-header {
  cursor: pointer;
}

.records-table {
  margin: 20px auto;
}

.table-header_asc::after {
  transform: rotate(-90deg);
  color: green;
  content: "➤";
  font-size: 10px;
  margin-left: 3px;
  margin-top: 1px;
  position: absolute;
}

.table-header_desc::after {
  transform: rotate(90deg);
  color: green;
  content: "➤";
  font-size: 10px;
  margin-left: 3px;
  margin-top: 1px;
  position: absolute;
}

.instruction {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}

.form {
  padding: 20px;
}

.form__input {
  font-family: inherit;
  border-radius: 30px;
  padding: 10px 20px;
}

.form__input_invalid {
  outline: 2px solid red;
}

.form__btn {
  display: inline-block;
  margin-left: 15px;
}

.form__error-msg {
  display: none;
  font-size: 12px;
  color: red;
  margin-top: 10px;
}

.form__error-msg_active {
  display: block;
}

.table-wrapper {
  position: relative;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: #fff;
  filter: contrast(20);
}

.preloader__dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}

.preloader__dots-list {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}

.preloader__dots-list span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

@media screen and (max-width: 700px) {
  .popup-button {
    right: 0;
  }
  .board {
    margin: 5px auto;
  }
  .board, .score-container, .game-btns-container, .results-container {
    width: 280px;
  }
  .board__cell {
    width: 50px;
    height: 50px;
  }
  .board__number {
    width: 50px;
    height: 50px;
  }
  .score, .best-score {
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
  }
  .game-title {
    font-size: 25px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes appearPopup {
  0% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }
  
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}