.header-container {
  @extend .container;
  display: flex;
  gap: 51px;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 43px;
}

.title {
  font: 700 30px/37px Libre Baskerville;
  padding: 17px 0 0 16px;
  color: #ffffff;
  position: relative;
  &_dark {
    color: var(--title-dark-color);
  }
}

@media screen and (max-width: 767px) {
  .header-container {
     justify-content: space-between;
  }
}