@import '../../scss/commonStyles.scss';
@import '../../scss/mixins.scss';

.header-container {
  @extend .container;
  display: flex;
  gap: 51px;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 43px;
}

.visually-hidden {
  height: 1px; 
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px); 
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); 
  white-space: nowrap;
}

@include tablet {
  .header-container {
     justify-content: space-between;
  }
}