@import './normalize.css';
body {
  font-family: Roboto, Verdana, Tahoma, Geneva, sans-serif;
}
.game-title {
  margin: 0 auto;
  text-align: center;
  font-size: 80px;
}
.score-container {
  display: flex;
  gap: 20px;
  width: 500px;
  margin: 0 auto;
  justify-content: center;
}
.score, .best-score {
  position: relative;
  display: block;
  background: #bbada0;
  padding: 0 10px;
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}
.board {
  width: 500px;
  margin: 15px auto;
  padding: 5px;
  background-color: #bbada0;
  position: relative;
  cursor: grab;
}

.board__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}
.board__cell {
  width: 94px;
  height: 94px;
  text-align: center;
  background-color: rgba(238, 228, 218, 0.35);
  border-radius: 3px;
}

.board__number_new {
  animation: appear 200ms ease 100ms;
  animation-fill-mode: backwards;
}

.board__number {
  width: 94px;
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #eee4da;
  box-shadow: 0 0 30px 10px rgb(243 215 116 / 0%), inset 0 0 0 1px rgb(255 255 255 / 0%);
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 35px;
  transition: all 0.1s ease-in;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: #29292999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-wrapper {
  position: relative;
  flex-wrap: wrap;
  background-color: #ffffff;
  text-align: center;
  color: #000;
  width: 50%;
  height: 50%;
  padding: 60px 20px;
  overflow-y: scroll;
}

.popup-animated {
  animation: appear 200ms ease 100ms;
  animation-fill-mode: backwards;
}

.popup-animate-out {
  animation: appear 200ms ease 100ms;
  animation-direction: reverse;
}

.game-btns-container {
  display: flex;
  width: 500px;
  justify-content: space-between;
  gap: 10px;
  margin: 10px auto;
}

.btn {
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 10px;
  text-decoration: none;
  color: #f9f6f2;
  line-height: 30px;
  cursor: pointer;
  display: block;
  text-align: center;
  flex-shrink: 0;
}

.back-btn_active {
  background-color: green;
}

.back-btn_inactive {
  background-color: red;
}

.time {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.results-container {
  display: flex;
  width: 500px;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}

.popup-btn {
  margin: 10px auto;
}
.popup-close-btn {
  width: 52px;
  height: 52px;
  position: absolute;
  font: 700 20px/0px Verdana;
  top: 0;
  right: 0;
  background: none;
  color: #000000;
  border: 2px solid gold;
  border-radius: 50%;
  cursor: pointer;
}

.table-header {
  cursor: pointer;
}

.results-table, .records-table {
  margin: 20px auto;
}

.table-header_asc::after {
  transform: rotate(-90deg);
  color: green;
  content: "➤";
  font-size: 10px;
  margin-left: 3px;
  margin-top: 1px;
  position: absolute;
}

.table-header_desc::after {
  transform: rotate(90deg);
  color: green;
  content: "➤";
  font-size: 10px;
  margin-left: 3px;
  margin-top: 1px;
  position: absolute;
}

.instruction {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .popup-button {
    right: 0;
  }
  .board {
    margin: 5px auto;
  }
  .board, .score-container, .game-btns-container, .results-container {
    width: 280px;
  }
  .board__cell {
    width: 50px;
    height: 50px;
  }
  .board__number {
    width: 50px;
    height: 50px;
  }
  .score, .best-score {
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
  }
  .game-title {
    font-size: 25px;
  }
  .popup-wrapper {
    width: 90%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
