.footer-container {
  display: flex;
  color: var(--footer-text-color);
  justify-content: space-between;
  padding: 165px 0 65px 0;
}

.contact-info__logo {
  display: block;
  height: 35px;
  background: url(../assets/logo.svg) no-repeat;
  padding-left: 70px;
  margin-bottom: 65px;
  font: 700 20px/32px Ubuntu, sans-serif;
}

.address {
  font: 400 16px/29px Ubuntu, sans-serif;
}

.address__text {
  font-weight: 500;
  margin-bottom: 10px;
}

.address__link, .address__phone {
  display: block;
  color: var(--footer-text-color)
}

.address__link:hover, .address__phone:hover {
  color: var(--footer-text-hover-color)
}

.contact-info__copyrights {
  margin-top: 36px;
  font: 400 12px/22px Ubuntu, sans-serif;
}

.socials__title {
  margin-bottom: 30px;
  font: 700 16px/26px Ubuntu, sans-serif;
}

.socials-list {
  display: flex;
  list-style-type: none;
  gap: 14px;
}

.socials-list__item {
  background-color: var(--socials-bg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: opacity 0.3s ease-in;
  opacity: 0.1;
}

.socials-list__item:hover {
  opacity: 1;
}

.socials-list__item_facebook {
  background-image: url(../assets/facebook.svg);
}

.socials-list__item_twitter {
  background-image: url(../assets/twitter.svg);
}

.socials-list__item_instagram {
  background-image: url(../assets/instagram.svg);
}