.header-container {
  display: flex;
  max-width: 1120px;
  font: 500 16px/26px Ubuntu, sans-serif;
  padding-top: 65px;
  gap: 120px;
}

.header__logo {
  width: 50px;
  height: 35px;
  background: url(../assets/logo.svg);
}

.header-navigation__list {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.header-navigation__link:hover {
  font-weight: 700;
  color: var(--text-hover-color);
}