.header-container {
  display: flex;
  max-width: 1120px;
  gap: 120px;
  width: 100%;
  margin: 0 auto;
  font: 500 16px/26px Ubuntu, sans-serif;
  padding: 65px 20px 0;
}

.header__logo {
  width: 50px;
  height: 35px;
  background: url(../assets/logo.svg) no-repeat;
}

.header-navigation__list {
  display: flex;
  transition: color 0.3s ease-in;
  list-style-type: none;
  gap: 40px;
}

.header-navigation__link {
  color: var(--text-color);
}

.header-navigation__link:hover {
  color: var(--text-hover-color);
  font-weight: 800;
}

@media screen and (max-width: 480px) {
  .header-container {
    gap: 30px;
  }
  .header-navigation__list {
    gap: 20px;
  }
}