.body {
  overflow-x: hidden;
  background: linear-gradient(to bottom, var(--gradient-color) 0%, var(--light-color) 19.4%);
}

.container {
  font: 500 18px/29px Ubuntu, sans-serif;
  color: var(--text-color);
  padding: 150px 20px 0;
}

.link {
  text-decoration: none;
  -webkit-transition: color .3s ease-in;
        -o-transition: color .3s ease-in;
            transition: color .3s ease-in;
}

.section-title {
  color: var(--title-color);
  font: 700 40px/52px Ubuntu, sans-serif;
}

@media screen and (max-width: 1024px) {
  .container {
    font: 500 16px/26px Ubuntu, sans-serif;
    padding-top: 50px;
  }
  .section-title {
    font: 700 20px/30px Ubuntu, sans-serif;
  }
}