:root {
  --text-color: #4B5D68;
  --text-hover-color: #212353;
  --title-color: #212353;
  --item-link-color: #212353;
  --light-color: #FFFFFF;
  --gradient-color: #F6FAFD;
  --link-bg: #9C69E2;
  --about-bg: #F063B826;
  --border-radius: 50px;
  --items-count: 2;
  --items-gap: 45px;
}