@keyframes navFromRight {
  0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes navToRight {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(100%);
  }
}

@keyframes appearPopup {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}