:root {
  --overlay-color: #29292999;
  --burger-color: #0000008a;
  --main-text-color: #484848;
  --second-text-color: #9a9a9a;
  --link-color: #484848;
  --title-color: #484848;
  --button-color: #484848;
  --header-bg-color: #eff0f2;
  --placeholder-color: #c2c6cc;
  --separator-color: #dddddd;
  --banner-color: #9a9a9a;
  --address-color: #9a9a9a;
  --input-color: #9a9a9a;
  --input-outline: #e8eaec;
  --btn-bg: #9a9a9a;
  --newsletter-bg: #e8eaec;
  --footer-bg: #eff0f2;
  --flats-bg: #EFF0F2;
  --market-bg: #e0e2e6;
  --rights-border: #e0e2e6;
  --separator-color: #e0e2e6;
  --hotel-info-bg: #e0e2e6;
  --order-input-color: #959595;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.body_overlay {
  overflow: hidden;
  &:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--overlay-color);
    z-index: 2;
  }
}

.section-title {
  font: 700 36px/48px Montserrat;
  color: var(--title-color);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 140px;
    height: 6px;
    border-radius: 3px;
    background-color: var(--title-color);
    left: 0;
    bottom: -35px;
  }
}
