.container {
  max-width: 1316px;
  width: calc(100% - 50px);
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font: 700 42px/52px Libre Baskerville;
  @media screen and (max-width: 768px) {
    font: 700 24px/30px Libre Baskerville;
  }
}

ul {
  list-style-type: none;
}